# macOS
.DS_Store
.DS_Stroe?
._*
.Spotlight-V100
.Trashes

# vscode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Dependency directories
*/node_modules/*

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# images
public/assets/products
public/assets/campaigns
public/assets/blogs
*.png
*.gif

# REACT
# production
*/build


# testing
0-mytest/*
*/coverage/*